@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$azul-escuro: #091F3D;
$azul-claro: #2A3E59;
$laranja: #814928;
$bege: #FAF8F6;



$font-family-general: "Manrope", sans-serif;
$font-family-title: "Playfair Display", serif;


.navbar{
  color: white;
}


#hero{
  background-image: url('../../img/bg-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
  min-height: 100vh;
  width: 100%;
  position: relative;
  .filtro-preto{
    background-color: $azul-escuro;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
  }
  .infos-hero{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    .titulo-hero{
        font-family: $font-family-title;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
  }
}